.ui-main-wr {
  min-height: $main-content-min-height;
  width: auto;
  &-inner {
    width: 100%;
    max-width: $main-content-max-width;
    margin: auto;
    padding: 32px 18px;
    box-sizing: border-box;
    .ui-title-wr {
      padding: 6px 0 8px;
    }
    .ui-action-wr {
      padding: 6px 0 8px;
    }
  }
  &-paper {
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #eef0f2;
    background-color: #ffffff;
    margin-top: 60px;
    margin-bottom: 24px;
    padding: 0 $padding-h-form;
    min-height: 320px;
  }
  .ui-title {
    display: block;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 40px;
    letter-spacing: -0.38px;
    color: #404553;
    padding: 0;
    margin: 0;
  }
  .ui-table {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #eef0f2;
    background-color: #eef0f2;
    width: 100%;
    margin-top: 30px;
    //overflow-x: auto;

  }
}

.ui-btn-icon {
  height: 14px;
  margin: -2px 9px 0 0;
}

.ui-action-wr {
  > button {
    margin-right: 30px;
    vertical-align: bottom;
    &:last-child {
      margin-right: 0;
    }
  }
  .ui-img-btn {
    min-width: 190px;
  }
  .ui-btn-sm {
    margin-right: 0;
    margin-left: 10px;
  }
}
