.ui-main-wr {
  min-height: $main-content-min-height;
  width: auto;
  &-inner {
    width: 100%;
    max-width: $main-content-max-width;
    margin: auto;
    padding: 32px 18px;
    box-sizing: border-box;
    .ui-title-wr {
      padding: 6px 0 8px;
    }
    .ui-action-wr {
      padding: 6px 0 8px;
      > button, a {
        margin-right: 30px;
        vertical-align: bottom;
        &:last-child {
          margin-right: 0;
        }
      }
      .ui-img-btn {
        min-width: 190px;
      }
      .ui-btn-sm {
        margin-right: 0;
        margin-left: 10px;
      }
    }
  }
  &-paper {
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px $borderColor;
    background-color: #ffffff;
    padding: 0 $padding-h-form;
    min-height: 320px;
    margin: 40px auto 24px auto;
  }
  .ui-title {
    display: block;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 40px;
    letter-spacing: -0.38px;
    color: #404553;
    padding: 0;
    margin: 0;
  }
  .ui-title-with-btn{
    width: 100%;
    .title-button{
      float: right;
      margin-left: 30px;
    }
  }
  .ui-table {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #eef0f2;
    background-color: #eef0f2;
    width: 100%;
    margin-top: 30px;
    //overflow-x: auto;
    cursor: default;
  }
}

.ui-btn-icon {
  height: 14px;
  margin: -2px 9px 0 0;
}

//.ui-action-wr {
//  > button, a {
//    margin-right: 30px;
//    vertical-align: bottom;
//    &:last-child {
//      margin-right: 0;
//    }
//  }
//  .ui-img-btn {
//    min-width: 190px;
//  }
//  .ui-btn-sm {
//    margin-right: 0;
//    margin-left: 10px;
//  }
//}
.ui-progress-bar {
  position: static;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.ui-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000000;
}
.ui-dialog__action.t-right{
  padding: 0 10px 28px !important;
}
