//Bootstrap overrides
/*

.navbar-default {
  border: none;
  background: transparent;
  border: none;
  min-height: initial;
  margin-bottom: 0;
  @extend .inline-block;
  vertical-align: middle;
  padding: 1rem 0;
  position: static;
}

.navbar-default .navbar-collapse {
  border: none;
}

.navbar-default .navbar-nav > .active > a {
  background-color: transparent;
}

.table-responsive {
  padding-right: 20px;
}

//Blockly overrides

.blocklySvg {
  background-color: $default-bg !important;
}

.blocklyMainBackground {
  stroke: $blockly-left-nav-bg !important;
}

.blocklyToolboxDiv {
  background-color: $blockly-left-nav-bg !important;
  color: $blockly-left-nav-font-color;
}

.blocklyScrollbarHandle {
  fill: $blockly-left-nav-bg !important;
}

.blocklyFlyoutBackground {
  fill: $default-bg !important;
}

.input-list-item {
  font-size: 17px !important;
  color: #ffffff !important;
}*/
