//Data add/ modify/ detail view styles
.ui-form{
  background-color: rgba(255, 255, 255, 0);
  &__title {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 52px;
    letter-spacing: normal;
    padding: 0 $padding-h-form;
    margin: 0 (-$padding-h-form);
    border-bottom: solid 1px #eef0f2;
  }
}
.ui-field {
  width: 230px;
  margin: 0 40px 0 0;
  display: inline-block;
  vertical-align: top;
  &:last-of-type{
    margin: 0;
  }
  .ui-input {width: 100%}
  &__label {
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 20px;
    letter-spacing: normal;
    margin: 24px 0 10px;
    display: block;
  }
  &__value {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    min-height: 40px;
    padding-top: 7px;
    margin: 0;
  }
  &__checkbox {
    min-width: 112px;
  }
  .ui-radio svg {
    font-size: 20px;
  }
}
.ui-field-single {
  margin-bottom: 26px;
  .ui-field {
    width: auto;
    min-width: 500px;
  }
}
.ui-field-multiple {
  margin-bottom: 26px;
}
.ui-input {
  margin: 0;
}