//Data add/ modify/ detail view styles
.ui-tree{
  background-color: rgba(255, 255, 255, 0);
  &__label {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #404553;
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  &__icon {
    width: 20px;
    margin-right: 18px;
    //height: 30px;
    display: inline-block;
    vertical-align: middle;
  }
  .Mui-expanded {
    //background-color: #f2bdf9;
    >.MuiTreeItem-content {
      border-color: #6764ff;
    }
  }
}