@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
@font-face {
  font-family: 'Lato';
  src: url("/styles/fonts/Lato-Light.eot");
  src: url("/styles/fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/Lato-Light.woff") format("woff"), url("/styles/fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("/styles/fonts/Lato-Black.eot");
  src: url("/styles/fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/Lato-Black.woff") format("woff"), url("/styles/fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Lato Hairline';
  src: url("/styles/fonts/Lato-Hairline.eot");
  src: url("/styles/fonts/Lato-Hairline.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/Lato-Hairline.woff") format("woff"), url("/styles/fonts/Lato-Hairline.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("/styles/fonts/Lato-Bold.eot");
  src: url("/styles/fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/Lato-Bold.woff") format("woff"), url("/styles/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Lato Hairline';
  src: url("/styles/fonts/Lato-HairlineItalic.eot");
  src: url("/styles/fonts/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/Lato-HairlineItalic.woff") format("woff"), url("/styles/fonts/Lato-HairlineItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("/styles/fonts/Lato-LightItalic.eot");
  src: url("/styles/fonts/Lato-LightItalic?#iefix") format("embedded-opentype"), url("/styles/fonts/Lato-LightItalic.woff") format("woff"), url("/styles/fonts/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("/styles/fonts/Lato-BlackItalic.eot");
  src: url("/styles/fonts/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/Lato-BlackItalic.woff") format("woff"), url("/styles/fonts/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("/styles/fonts/Lato-BoldItalic.eot");
  src: url("/styles/fonts/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/Lato-BoldItalic.woff") format("woff"), url("/styles/fonts/Lato-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("/styles/fonts/Lato-Italic.eot");
  src: url("/styles/fonts/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/Lato-Italic.woff") format("woff"), url("/styles/fonts/Lato-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("/styles/fonts/Lato-Regular.eot");
  src: url("/styles/fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("/styles/fonts/Lato-Regular.woff") format("woff"), url("/styles/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.block {
  display: block; }

.inline {
  display: inline; }

.none {
  display: none; }

.inline-block, .ui-footer-logo {
  display: inline-block; }

.f-left {
  float: left !important; }

.f-right {
  float: right !important; }

.f-none {
  float: none !important; }

.clr-bth {
  clear: both !important; }

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

* html .clearfix, *:first-child + html .clearfix {
  zoom: 1; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.fixed {
  position: fixed; }

.overflow {
  overflow: auto; }

.t-left {
  text-align: left; }

.t-right {
  text-align: right; }

.t-bold {
  font-weight: 600; }

.border-radius-none {
  border-radius: 0; }

/*

.navbar-default {
  border: none;
  background: transparent;
  border: none;
  min-height: initial;
  margin-bottom: 0;
  @extend .inline-block;
  vertical-align: middle;
  padding: 1rem 0;
  position: static;
}

.navbar-default .navbar-collapse {
  border: none;
}

.navbar-default .navbar-nav > .active > a {
  background-color: transparent;
}

.table-responsive {
  padding-right: 20px;
}

//Blockly overrides

.blocklySvg {
  background-color: $default-bg !important;
}

.blocklyMainBackground {
  stroke: $blockly-left-nav-bg !important;
}

.blocklyToolboxDiv {
  background-color: $blockly-left-nav-bg !important;
  color: $blockly-left-nav-font-color;
}

.blocklyScrollbarHandle {
  fill: $blockly-left-nav-bg !important;
}

.blocklyFlyoutBackground {
  fill: $default-bg !important;
}

.input-list-item {
  font-size: 17px !important;
  color: #ffffff !important;
}*/
.ui-footer {
  height: 72px;
  background-color: rgba(255, 255, 255, 0); }
  .ui-footer-inner {
    width: 100%;
    max-width: 1246px;
    margin: 0 auto;
    height: 72px;
    overflow: hidden; }
  .ui-footer-logo {
    height: 22px;
    padding: 21px 17px 29px 18px;
    box-sizing: content-box; }

.ui-main-nav-bar {
  top: 70px;
  display: block;
  height: 70px;
  width: 100%;
  margin: 0;
  padding: 0 40px 0  16px;
  box-sizing: border-box;
  background-color: #6764ff; }
  .ui-main-nav-bar-right {
    height: 70px; }
    .ui-main-nav-bar-right .user-name {
      line-height: 19px;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: right;
      color: #ffffff;
      display: inline-block;
      vertical-align: middle;
      padding: 25px 10px 26px;
      margin: 0; }
  .ui-main-nav-bar .nav-menu-btn {
    height: 50px;
    width: 50px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .ui-main-nav-bar .nav-logo {
    height: 25px;
    width: auto;
    display: inline-block;
    margin: 18px 30px 27px 5px;
    vertical-align: middle; }
.ui-main-nav-menu-wr {
  background-color: #fafcfe;
  height: calc(100vh - 142px);
  overflow: auto;
  width: 100%;
  margin: 0 auto;
  padding: 0; }
  .ui-main-nav-menu-wr .nav-menu-txt {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 54px;
    letter-spacing: -0.38px;
    color: #404553;
    margin: 30px auto 12px;
    padding: 0 18px;
    max-width: 1246px; }
  .ui-main-nav-menu-wr .nav-menu {
    overflow: auto;
    width: 100%;
    max-width: 1246px;
    margin: 0 auto; }

.testInput {
  color: palegreen;
  font-size: 20px; }

.ui-auth-main {
  height: 100vh; }
  .ui-auth-main-left {
    max-width: 370px;
    text-align: left;
    margin: 0 32px; }
  .ui-auth-main-right {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    padding: 16px 50px;
    box-sizing: content-box; }
    .ui-auth-main-right .header-txt {
      font-size: 30px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: -0.38px;
      color: #404553;
      margin: 10px auto 55px;
      padding: 0; }
    .ui-auth-main-right .pw-reset {
      height: 21px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 21px;
      letter-spacing: normal;
      text-align: right;
      color: #6764ff;
      padding: 16px 0;
      display: inline-block;
      cursor: pointer;
      text-decoration: none; }
      .ui-auth-main-right .pw-reset:hover {
        text-decoration: underline;
        color: #303f9f; }
    .ui-auth-main-right .txt-or {
      width: 13px;
      height: 21px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.46;
      letter-spacing: normal;
      text-align: center;
      margin: 14px auto;
      color: #404553; }
      .ui-auth-main-right .txt-or::before, .ui-auth-main-right .txt-or::after {
        display: inline-block;
        content: "";
        border-top: 2px solid #ced7e0;
        width: 74px;
        margin: 0 -104px;
        transform: translateY(-3px); }

.ui-main-wr {
  min-height: calc(100vh - 142px); }

form {
  width: 100%; }

body {
  padding: 0 !important; }

/*# sourceMappingURL=styles.css.map */
